# General Branding
[customizations.bootloader]
menu-entry-name = "Atomic-OS"

# Set the OS Name and Hostname
# Note the double brackets [[ ]] - this is required by the builder
[[customizations.files]]
path = "/etc/os-release"
data = """
NAME="Atomic-OS"
ID=atomic-os
ID_LIKE=fedora
VERSION_ID=40
PRETTY_NAME="Atomic-OS (Fedora Bootc)"
ANSI_COLOR="0;34"
LOGO=fedora-logo-icon
CPE_NAME="cpe:/o:atomic-os:atomic-os:40"
HOME_URL="https://github.com/ramirorincon/Atomic-OS"
VARIANT="Workstation Edition"
VARIANT_ID=workstation
"""

[[customizations.files]]
path = "/etc/hostname"
data = "atomic-os"

# The Installer Config
[customizations.installer.kickstart]
contents = """
# Wipe existing partitions and initialize the disk
zerombr
clearpart --all --initlabel

# Create the standard partition layout automatically
autopart --type=plain --fstype=xfs

%post
# Sync the system to your registry image
bootc switch --mutate-in-place --transport registry ghcr.io/ramirorincon/atomic-os:latest
%end
"""

[customizations.installer.modules]
enable = [
  "org.fedoraproject.Anaconda.Modules.Storage",
  "org.fedoraproject.Anaconda.Modules.Runtime",
  "org.fedoraproject.Anaconda.Modules.Network",
  "org.fedoraproject.Anaconda.Modules.Security",
  "org.fedoraproject.Anaconda.Modules.Services",
  "org.fedoraproject.Anaconda.Modules.Timezone",
  "org.fedoraproject.Anaconda.Modules.Localization",
]
disable = [
  "org.fedoraproject.Anaconda.Modules.Users"
]
